.btn {
	padding: 10px 40px;
	text-transform: uppercase;
	color: #FFF;
	        border-radius: 4px;
	font-size: 12px;
    text-decoration: none;
   display: inline-block;
   
           transition: 0.2s;
}