.container {
	margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
	width: 900px;
}
.container:before, .container:after {
    content: " ";
    display: table;
}
.container:after {
    clear: both;
}
